*{

   margin: 0 ;
   padding: 0;
    /* text-align: center; */
    
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}


.frame1 {
    height: 245px;
    width: 720px;
    /* background: linear-gradient( black); */
    background-color: black;

}



h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    max-width: 410px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
    
}


